.index {
 background-color: black; 
 color: blue;
}

.index h1 {
  color: black;
  background-color: blue;
  top: 0;
  position: fixed;
  font-family: Courier New;
  text-align: Center;
  height: 70px;
  font-style: bold;
}

.index .header {
  margin-top: 70px;
  color: black;
  background-color: blue;
  text-align: Center;
  font-family: Courier New;
  font-style: italic;
}

.index .body {
 color: blue;
 background-color: black;
 text-align: Center;
 font-family: Verdana;
}
