.header {
  color: black;
  background-color: blue;
  top: 0;
  position: fixed;
  font-family: Courier New;
  text-align: Center;
  font-style: bold;
}

.body {
 color: blue;
 background-color: black;
 text-align: Center;
 font-family: Verdana;
}

.body h3 {
 color: black;
 background-color: blue;
 text-align: Center;
 font-family: Courier New;
 font-style: italic;
}
